
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

header, footer {
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

header h1, footer p {
    margin: 0;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; 
    color: #fff; 
    padding: 1rem; 
    text-align: center;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.task .task-text {
    flex: 1;
}

.task .task-actions {
    margin-left: 1rem;
}

.task .task-actions button {
    margin-left: 0.5rem;
}

.contenedor-tareas {
    max-width: 600px;
    margin: 0 auto;
}

.dark {
    background-color: #333;
    color: #fff;
}

.dark header, .dark footer {
    background-color: #444;
}

.dark #dark-mode-toggle i {
    color: #fff;
}
